@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f6f9;
  color: #2c3e50;
  font-family: "Inter", system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes moveGrid {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(40px);
  }
}

.animate-move-grid {
  animation: moveGrid 10s linear infinite;
}
